<div class="content" role="main">
  <h1>{{ title }}</h1>
  <nav>
    <a
      class="button"
      routerLink="/app-heroes"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Heroes
    </a>
    <a
      class="button"
      routerLink="/app-deck"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Deck
    </a>
    <!-- <a
      class="button"
      routerLink="/app-..."
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      name
    </a> -->
  </nav>
</div>

<router-outlet>
  <!-- <app-heroes></app-heroes> -->
</router-outlet>
