<div class="card-container">
  <ul class="heroes-list">
    <li *ngFor="let hero of heroes">
      <div [ngSwitch]="hero.inDeck">
        <div *ngSwitchCase="true" class="switchCase">
          <span class="badge">{{ hero.id }}</span
          ><span class="card-name"
            ><b>{{ hero.name }}</b></span
          >
          <img src="{{ hero.imagePath }}" />
          <div class="stats">
            <span class="health">{{ hero.health }}</span>
            <span class="power">{{ hero.power }}</span>
            <span class="resistance">{{ hero.resistance }}</span>
          </div>
        </div>
        <div *ngSwitchCase="false" class="dontShow">
          <!-- <script>
            $("li").parent().css("background-color", "magenta");
            $(li).css("background-color", "magenta");
            li.setAttribute("style", "background-color:magenta;");
          </script> -->
        </div>
      </div>
    </li>
  </ul>
</div>
