/* You can add global styles to this file, and also import other style files */

:host {
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container ::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}
.card-container ::-webkit-scrollbar-track {
  background: #fff0;
  border-radius: 10px 10px 25px 25px;
  margin: 1em;
}
.card-container ::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ff8d00 0%, #e10909 50%, #d90071 100%);
  border-radius: 25px;
}
.card-container ::-webkit-scrollbar-thumb:hover {
  background: #00000075;
}

h1 {
  font-size: 250%;
}
h2,
h3 {
  font-weight: lighter;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
span b {
  font-size: 110%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cfcfcf;
}

nav {
  display: flex;
  width: 1fr;
}

.button {
  margin: 0 1em;
  border: #570036;
  border-radius: 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  flex: 1 1 0px;
  color: rgb(0, 242, 255);
  padding: 0.5em;
  font-size: larger;
  background: linear-gradient(20deg, #470060 0%, #570036 50%, #0e0066 100%);
}
.activebutton {
  background: linear-gradient(20deg, #ff8d00 0%, #ff6200 50%, #ff0000 100%);
  box-shadow: 0 0 24px #ff0000;
  color: #000;
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
}

.card-container {
  margin: 32px 16px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 60%; */
}

.heroes-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  flex: 0 1 auto;
  align-self: auto;
  width: 100%;
  overflow-x: scroll;
  padding: 2em 0 2em 0;
  border: 2px solid #c300ff;
  border-radius: 0 1.2em 1.2em 1.2em;
  box-shadow: 0 0 32px #c300ff;
  background-color: #ffffffcc;
}

.heroes-list li {
  position: relative;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 20em;
  border-radius: 12px;
  /* border: 1px solid; */
  width: 200px;
  transition: all 300ms;
}

.heroes-list li:hover {
  border-color: gold;
  transform: translateY(-1em);
  transition: all 500ms;
  box-shadow: 0 0 32px gold;
}
.heroes-list li .selected img {
  border-color: gold;
  box-shadow: 0 0 48px gold;
}

.card-name {
  padding: 1em;
}

.card-name b {
  font-size: 100%;
}

.heroes-list .badge,
.health,
.power,
.resistance {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  height: 2em;
  margin: 0;
  text-align: center;
}
.badge {
  background-color: coral;
  font-size: small;
  border-radius: 10px 0 0 0;
  margin-right: 0.8em;
  width: 2.5em;
  left: -1px;
  top: -6px;
  width: auto;
}

.stats {
  display: flex;
  flex: 100%;
}
.stats .health,
.power,
.resistance {
  position: relative;
  font-size: large;
  width: 5rem;
  bottom: -1.98em;
}
.health {
  background-color: rgb(0, 157, 255);
  border-radius: 0 0 0 12px;
}
.power {
  background-color: rgb(159, 0, 0);
  border-radius: 0 0 0 0;
}
.resistance {
  background-color: rgb(73, 255, 112);
  border-radius: 0 0 12px 0;
}

.card-info-container {
  margin: 32px 16px;
  position: relative;
  width: 40em;
}

th {
  font-size: larger;
}
td {
  width: 50%;
  padding: 1em;
  border-left: 1px solid purple;
  border-right: 1px solid purple;
}
/* 
.info {
  width: 100%;
} */

input {
  border-radius: 1em;
  background-color: #fff0;
}

#addHeroButton {
  width: 20em;
  background-color: #c300ff;
  border-radius: 8px;
}
